<section>
    <br>
    <br>
    <!--
    <div align="center" style="font-size: 25px; line-height: 110%; color: gray; margin-top:10%"><b>"Der Ingenieur ist <br>der Gestalter <br>unseres Zeitalters"</b></div>
    <div align="center" style="font-size: 10px; line-height: 110%; color: gray"><b>"The engineer is the artist of our epoch"</b></div>
    <div align="center" style="font-size: 10px; line-height: 110%; color: gray; margin-left: 100px"><i>-Bauhaus museum, Berlin</i></div>
    <br>-->

    <div style="text-align: center; margin-top: 50px; margin-bottom: 20px">
      <div class="github-card" data-github="picorana" data-width="400" data-height="" data-theme="default"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>

    <br>
<!--     <div style="font-size: 12px">
    <br>Hello! I am Sara.
    <br>I am a <b>PhD student in Computer Science</b> by day, and a <b>painter</b> by night. I try to mix art and algorithms in an attempt to get this two parts of me together. 
    <br><br>My interests range from Data Science, 3D Computer Graphics, Data Visualization, Machine Learning, Natural Language Processing and Algorithms to Digital Painting, Traditional Painting and Generative Art.
    <br><br>I like sharing my knowledge, and finding all sorts of ways to get people interested. For this purpose, I teach coding courses to children, organize workshops, and keep up a strong passion in <b>open source</b> software. 
    <br><br>I also like <a href="/activities_img/pollino_small.jpg">parrots</a>. 
    </div> -->

    <br>
    <br>
    <div style="font-size: 12px">
      Hello! I am Sara. 
      <br> I am a <b>PhD student in Computer Science</b> at Khoury College of Computer Sciences at Northeastern, Boston, specializing in <b>Data Visualization</b>, currently focusing on <b>temporal event sequence visualization</b> and <b>network layout algorithms</b>. 

      <br><br> Scroll down to see an overview of my projects. The page contains my experiments with data visualization, 3d computer graphics, game development, machine learning, generative art, and my paintings. 

      <br><br>I also like <a href="/activities_img/pollino_small.jpg">parrots</a>.  
    </div>
</section>