
    <br>
    <br>

    <div style="text-align: center; margin-top: 50px; margin-bottom: 20px">
      <div class="github-card" data-github="picorana" data-width="400" data-height="" data-theme="default"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>

    <br>

    <br>
    <br>
    <div>
      Hello! I am Sara. 
      <br> I am a <b>PhD student in Computer Science</b> at Khoury College of Computer Sciences at Northeastern, Boston, specializing in <b>Data Visualization</b>, currently focusing on <b>temporal event sequence visualization</b> and <b>network layout algorithms</b>. 

      <br><br> Scroll down to see an overview of my projects. The page contains my experiments with data visualization, 3d computer graphics, game development, machine learning, generative art, and my paintings. 

      <br><br>I also like <a href="/activities_img/pollino_small.jpg">parrots</a>.  
    </div>
